header {
  .share-aware {
    background: url(img/share-aware.png) no-repeat center #efefef;
    height: 60px;
    z-index: 1;
  }

  nav {
    .navbar-header {
      background: #00619e;

      button.navbar-toggle {
        border-color: #fff;

        span.icon-bar {
          background: #fff;
        }
      }

      a.navbar-brand {
        color: #fff;
      }
    }
  }

  .navbar-collapse {
    background: #00619e;

    ul.navbar-nav li a {
      color: #fff;
    }
  }
}
